
# **INDEXING DATA FRAMES**
*   Indexing yapılırlen köşeli parantez kullanılır.
*   Sütun featureları ve row labelları kullanılır.
*   loc methodu kullanılır.
*   Belli sütunlar seçilir.

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

In [3]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
data= data.set_index("#") # '#' sütunundaki değerler indeks olarak atandı.
data.head()               #pandasın indeksi default olarak 0'dan başlar.
                          #indeks sütunu değiştiği için şu anda 1'den başlayacak.

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
data["HP"][1] #HP sütunundaki 1. indeksindeki veri seçildi.
              #köşeli parantez ile indexing yapıldı.

45

In [6]:
data.HP[1]   #HP sütununun 1. indeksindeki veriyi çağırmanın farklı bir yoludur.

45

In [7]:
data.loc[1,["HP"]] #loc methodunda önce satır sonra sütun yazılır.

HP    45
Name: 1, dtype: object

In [10]:
data.iloc[0,3]

45

In [11]:
data[["HP","Attack"]] #belli sütunlar seçilerek indexing yapılır.
                      #HP ve Attack sütunlarındaki 800 sample verildi.

     HP  Attack
#
1    45      49
2    60      62
3    80      82
4    80     100
5    39      52
..   ..     ...
796  50     100
797  50     160
798  80     110
799  80     160
800  80     110

[800 rows x 2 columns]

# **SLICING DATA FRAME**
*   Sütun seçilirken tek köşeli parantez kullanılırken dataframe seçilirken 2 köşeli parantez kullanılır.

In [12]:
print(type(data["HP"]))     
print(type(data[["HP"]]))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [13]:
data.loc[1:10,"HP":"Defense"] #satır için 1. ve 10. satır arasındaki,
                              #sütun için HP ve Defense sütunları arasındaki veriler yazılır.
                              #pandasta (inclusive,inclusive) olduğundan başlangıç ve bitişler dahildir.

    HP  Attack  Defense
#
1   45      49       49
2   60      62       63
3   80      82       83
4   80     100      123
5   39      52       43
6   58      64       58
7   78      84       78
8   78     130      111
9   78     104       78
10  44      48       65

In [14]:
data.loc[10:1:-1,"HP":"Defense"] # -1 ile tersten sıralama yapılır.

    HP  Attack  Defense
#
10  44      48       65
9   78     104       78
8   78     130      111
7   78      84       78
6   58      64       58
5   39      52       43
4   80     100      123
3   80      82       83
2   60      62       63
1   45      49       49

In [17]:
data.loc[1:10,"Speed":] # ':' varsa başlangıç değerinden en sona kadar yazdırılır.
                        # ':' için herhangi bir başlangıç ve bitiş değeri belirtilmemişse baştan sona kadar yazdırır.
       #bu örnekte Speed sütunundan başlayarak dataframe'in sonundaki Legendary sütunu da dahil olmak üzere yazdırır.

    Speed  Generation  Legendary
#
1      45           1      False
2      60           1      False
3      80           1      False
4      80           1      False
5      65           1      False
6      80           1      False
7     100           1      False
8     100           1      False
9     100           1      False
10     43           1      False

In [23]:
data.loc[1:10,:] #Sütun için başlangıç ve bitiş değerleri belirtilmediği için tüm sütunların ilk 10 satırını yazdırır.

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
6,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
7,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
10,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

# **FILTERING DATA FRAMES**


*   Bir boolean serisi yaratılır.
*   Boolean serisi True/False değerler içerir.
*   Yaratılan boolean serileri filtrelerdir.
*   Bu filtreler ile birbiri arasında karşılaştırma yapılır.

In [18]:
boolean = data.HP > 200  #canı 200'den büyük olanları yazdırır.
data[boolean]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
122,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
262,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [19]:
first_filter = data.HP > 150      
second_filter = data.Speed > 35
data[first_filter & second_filter]  #burada iki filtre birleştirilir.
                                    #canı 150'den fazla olan ve hızı 35'ten fazla olanlar alınır.

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
122,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
262,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
352,Wailord,Water,NaN,170,90,45,90,45,60,3,False
656,Alomomola,Water,NaN,165,75,80,40,45,65,5,False

In [22]:
data.HP[data.Speed<15]   #HP sütunundaki Speed'i 15'ten küçük olanlar verilir.

#
231     20
360     45
487     50
496    135
659     44
Name: HP, dtype: int64

# **TRANSFORMING DATA**


*   apply methodu kullanılır.
*   apply methodu ile yapılacak işlem seçilen verilerin hepsine teker teker uygulanılır.

In [24]:
def div(n):
    return n/2      #div methodu ile veriler ikiye bölünür.
data.HP.apply(div)  #apply methodu ile 2'ye bölme işlemi HP sütunun

#
1      22.5
2      30.0
3      40.0
4      40.0
5      19.5
       ...
796    25.0
797    25.0
798    40.0
799    40.0
800    40.0
Name: HP, Length: 800, dtype: float64

In [25]:
data.HP.apply(lambda n : n/2) #lambda fonksiyon yazmanın hızlı yoludur.

#
1      22.5
2      30.0
3      40.0
4      40.0
5      19.5
       ...
796    25.0
797    25.0
798    40.0
799    40.0
800    40.0
Name: HP, Length: 800, dtype: float64

In [26]:
data["total_power"] = data.Attack + data.Defense
data.head()           #Attack ve Defense sütunundaki veriler toplanıp total_power adındaki sütuna bu veriler atanır.

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_power
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95