Datanın teşhis edilip temizlenmesi gereken durumlar;
*   Sütun isimlerinde büyük/küçük harf tutarsızlıkları 
*   Sütun ismindeki kelimelerin boşluklu tanımlanması
*   Missing datalar çoğu veri setinde bulunur, ilgili sütunda - ya da Nan yazar.
*   Dataframe'deki verilerin farklı dillerde olması

In [1]:
import pandas as pd 

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

In [3]:
data.head() #head methoduna değer yazılmadığında default olarak ilk 5 satır yazdırılır.
#Type 1 ve Type 2 sütunlarında boşluk vardır, bu sütunlar ancak data["Type 1"] şeklinde çağrılır.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
data.tail() #tail methodu son 5 satırı yazdırır ve dataframe'in kaç satırdan oluştuğu öğrenilir.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
data.columns #Sütun isimlerini yani featureları verir.

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
data.shape #dataframe'deki satır ve sütun sayısını yazdırır.

(800, 12)

Bu veri setinde info methodu ile 
*   Bir dataframe olduğu
*   800 sample'dan oluştuğu
*   12 sütun bulunduğu
*   Bu sütunların 8 tanesinin integer, 1 tanesinin boolean (True/False), 3 tanesinin object (string) veri barındırdığı
*   Sütunlardaki null olmayan veri sayısı öğrenilir.

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        799 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB