# **CONCATENATING DATA**
*   **concat()** methodu ile iki dataframe birleştirilebilir.
*   **axis=0** dataframeleri dikey şekilde birleştirir.
*   **axis=1** dataframeleri yatay şekilde birleştirir.
*   **ignore_index =True** parametresi ile eski indeksler göz önünde bulundurulmaz, yeni indeksler atanır.

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

In [4]:
data1 = data.head()  #data1 değişkenine ilk 5 satır data2 değişkenine son 5 satır atandı.
data2 = data.tail()
conc_data_row = pd.concat([data1,data2],axis =0,ignore_index =True)  #dataframeler dikey şekilde birleştirildi.
conc_data_row

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
6,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
7,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
8,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
9,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
data1 = data['Attack'].head()
data2= data['Defense'].head()
conc_data_col = pd.concat([data1,data2],axis =1) #dataframeler yatay şekilde birleştirildi.
conc_data_col

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

# **DATA TYPES**
5 çeşit data türü vardır. Bunlar;
*   object(string)
*   boolean
*   integer
*   float 
*   categorical

Bu data türleri birbirine dönüştürülebilir.

Category data türü dataframe'in hafızada daha az yer tutmasını sağlar ve analiz edilmede kullanılabilir.

In [8]:
data.dtypes #dataframedeki data türleri gösterilir.

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [9]:
data['Type 1'] = data['Type 1'].astype('category') #Type 1'in object olan datatype'ı category'e çevrildi.
data['Speed'] = data['Speed'].astype('float')      #Speed'in integer olan datatype'ı float'a çevrildi.

In [10]:
data.dtypes    #yeni datatypelar gözükür.

#                int64
Name            object
Type 1        category
Type 2          object
HP               int64
Attack           int64
Defense          int64
Sp. Atk          int64
Sp. Def          int64
Speed          float64
Generation       int64
Legendary         bool
dtype: object

In [11]:
data.head() #Speed sütunundaki float değerler gözükmektedir.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45.0,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60.0,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80.0,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80.0,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65.0,1,False