# **TIDY DATA**
*   Sütunlar değişkenleri, satırlar gözlemleri ifade eder ve gözlemler hücreleri oluşturur. Bir veri setinin temiz olarak nitelendirilmesi için bu şartları sağlaması gerekir.
*   Amaç veriyi analiz etmek için düzenli bir hale getirmektir.
*   Melt methodu ile veriler düzenlenir.
*   Melt methodu datadan istenilen featureları çıkararak düzenler.

In [1]:
import pandas as pd 

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

In [4]:
data_new = data.head()  #Pokemon veri setinin ilk 5 örneği data_new değişkenine atanır.
data_new

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

melt methodu parametleri;
*   **frame** kısmına melt edilecek data yazılır.
*   **id_vars** datada değişmeden kalınması istenilen featuredır.
*   **value_vars** yeni oluşması istenilen variablelardır.

In [7]:
melted = pd.melt(frame=data_new,id_vars = 'Name', value_vars= ['Speed','Defense']) #her bir pokemonun ismine göre melt işlemi yapılır.
melted                                                                              #Bulbasaur'ın Speed değişkeni 45'a eşitlendi.
                                                                                    #Ivysaur'un Defense değişkeni 63'e eşitlendi.
                                                                                #variable ve value isimleri default olarak atanır, istenirse değiştirilebilir.

            Name variable  value
0      Bulbasaur    Speed     45
1        Ivysaur    Speed     60
2       Venusaur    Speed     80
3  Mega Venusaur    Speed     80
4     Charmander    Speed     65
5      Bulbasaur  Defense     49
6        Ivysaur  Defense     63
7       Venusaur  Defense     83
8  Mega Venusaur  Defense    123
9     Charmander  Defense     43

# **PIVOTING DATA**

*   Pivoting ile melt edilen data tekrardan eski haline döndürülür.
*   **index** datada değişmesi istenilmeyen featuredır.
*   **columns** melt methodunda variable olarak kullanılan sütunlardır.
*   **values** melt methodunda kullanılan valuelardır.

In [6]:
melted.pivot(index = 'Name', columns = 'variable',values='value')

variable       Attack  Defense
Name
Bulbasaur          49       49
Charmander         52       43
Ivysaur            62       63
Mega Venusaur     100      123
Venusaur           82       83