In [1]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data = pd.read_csv('/content/drive/MyDrive/data/pokemon.csv') #pokemon.csv datası dataframe'e çevrilir.

# **PANDAS**


*   Pandas kütüphanesi dataframeler için oluşturulmuş bir kütüphanedir.
*   Dataframeler datayı içinde depoladığımız yapılardır. 
*   Pandas kütüphanesi ile dosyalar arası geçiş kolaylaşır.
*   csv ve text dosyaları üzerinde işlem yapılıp, sonuçlar tekrardan kaydedilebilir.
*   csv (comma seperated values) bu dosyalarda veriler virgüller ile ayrılmıştır. Pandas kütüphanesi ile bu veriler dataframe'e çevrilir.
*   Pandas'ta iki çeşit datatype bulunur: series ve dataframes
*   series tek boyutlu vektörler, dataframe'ler çok boyutludur.

In [3]:
series = data['Defense']        #tek boyutlu vektör
print(type(series))
data_frame = data[['Defense']]  #dataframe oluştururken seçilen feature bir liste içerisine yazılır.
print(type(data_frame))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [4]:
# Comparison operator
print(3 > 2)   #Comparison operatorları >, <, ==, !=, >=, <=
print(3!=2)
# Boolean operators
print(True and False) #boolean operatorları and, or, not operatorlarıdır, boolean değerleri True, False'tur.
print(True or False)

True
True
False
True

In [9]:
data['Defense']>200 #değerler boolean olarak true/false şeklinde döndürülür, şartı sağlayan değerler True'dur.

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Defense, Length: 800, dtype: bool

In [5]:
x = data['Defense']>200     # Defense'i 200'den büyük olan 3 pokemon vardır.
data[x]                     #Defense'i 200'den büyük olanlar x filtresine aktarılır.
                            #x filtresi datanın içine yazıldığında defense değerleri false olanları ignore eder, true'ları döndürür.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [8]:
#Filtering pandas with logical_and
data[np.logical_and(data['Defense']>200, data['Attack']>100 )] #logical_and() methoduyla iki durumun da değerlerinin true olsuğu sonuçlar verilir.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [10]:
data[(data['Defense']>200) & (data['Attack']>100)] #numpy kütüphanesinde bulunan logical_and() methodunu kullanılmadan da aynı işlem & operatörüyle gerçekleştirilebilir.

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False